<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "top.bitbot.app"
        versionCode = "10"
        version     = "1.4.0">

    <name>bitbot.top</name>

    <description>
        Админ панель
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/5083eff55a36dd870e9f4a104a79d9f7.png" density="ldpi" />
        <icon src="res/android/icon/52f5483c02a1724eaf8683677f6111d0.png" density="mdpi" />
        <icon src="res/android/icon/192da78e29c3690ab5a26a5b36f75beb.png" density="hdpi" />
        <icon src="res/android/icon/004ffccfeedd96d06743fa5958d93a09.png" density="xhdpi" />
        <icon src="res/android/icon/d5ac575a28b837887a770434328c99e3.png" density="xxhdpi" />
        <icon src="res/android/icon/eebeca4ddf00c0c24fc417577dadcc14.png" density="xxxhdpi" />

        <splash src="res/android/screen/39adbed676938daeb941544658353adf.png" density="port-hdpi"/>
        <splash src="res/android/screen/8c41d96f16631b5c53bc0dbe406ae75c.png" density="port-ldpi"/>
        <splash src="res/android/screen/ed9a70832418cbb16887ad0be749982d.png" density="port-mdpi"/>
        <splash src="res/android/screen/c433d35d835b85d8e07b48ff9cd9d1ad.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/e0f55b5ac3e70138f022961f82d90ce9.png" width="180" height="180" />
        <icon src="res/ios/icon/33042576ffb0d4c318d59b2daf9b9e8b.png" width="60" height="60" />
        <icon src="res/ios/icon/817883bc12032e62a4c66d1bf129ebc1.png" width="120" height="120" />
        <icon src="res/ios/icon/db2e4380a5d987c2b9482b5b4eab28bb.png" width="76" height="76" />
        <icon src="res/ios/icon/b5d5a1d0cc43079f556e1e30ab2e4a46.png" width="152" height="152" />
        <icon src="res/ios/icon/5a53ce1f79a8726ad03f1cdbcf2a3dd8.png" width="57" height="57" />
        <icon src="res/ios/icon/3235eceb5ba31c2bd16cc57fed76a9a3.png" width="114" height="114" />
        <icon src="res/ios/icon/9bce312f654b2b5876b81316b6b980a5.png" width="72" height="72" />
        <icon src="res/ios/icon/beeab8b3136dc0809641d4031929c5b0.png" width="144" height="144" />
        <icon src="res/ios/icon/f644945bb8860282c7c0f2bb0a0bce17.png" width="167" height="167" />
        <icon src="res/ios/icon/208e521eae279c896d7865e0879654d3.png" width="29" height="29" />
        <icon src="res/ios/icon/54a4dd58196baac658dd8adba93a15a1.png" width="58" height="58" />
        <icon src="res/ios/icon/042226531a38fa82acad88457d2dff17.png" width="87" height="87" />
        <icon src="res/ios/icon/cc45b151539165eb7d5896ddd6a35c93.png" width="167" height="167" />

        <splash src="res/ios/screen/ce23413f4a5a25d5f392fda768e0634e.png" />
        <splash src="res/ios/screen/d4d3761458cf3b09718440ea152ab03a.png" />
        <splash src="res/ios/screen/31b13497f5095aa0fd41de42d77b5cad.png" />
        <splash src="res/ios/screen/640c2bfa5cc54768be26fe12adfa2d10.png" />
        <splash src="res/ios/screen/5aed4fa590d77cbaf939f922485518cc.png" />
        <splash src="res/ios/screen/2462bb72c537c71c5d3c40a41d0a6388.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/b4f7cb93aedf7d6bf6b17d9366787453.png" target="StoreLogo" />
        <icon src="res/windows/icon/e3450f73764012262dcdaa1673fee773.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/a8344cecf8aa1e00eb40391c21ff5d1a.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/28078f58073a955fabcfbfdb8610aaff.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/6e49468827e7fb90f0068a29eca23ddd.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/5bd1a71fbf634f771ab72b8451d79611.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/4ec78784553b04574a7a6cf9e4f169c2.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/82bb3e0812fba947012352385149da2b.png" target="SplashScreen"/>
        <splash src="res/windows/screen/d3b7e2b860cb7c565d0684bcda743393.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>